html,
body {
    text-align: center;
}

.App {
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.h2o {
    position: absolute;
    display: block;
    opacity: 0.05;
    font-size: 36vw;
    z-index: -100;
    width: 99%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.bottle-image {
    display: inline-block;
    position: relative;
    width: 20%;
    min-width: 300px;
    z-index: 100;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    0% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(4deg);
    }
    100% {
        transform: rotate(-1deg);
    }
  }